# Виртуальное окружение
venv/
.env
__pycache__/
*.pyc

# Файлы с секретами (токены, ключи)
#config_local.py
#config.py
*.env

# Базы данных и временные файлы
*.db
temp_audio/
data/*.db
data/*.index
data/*.pkl

# Логи
*.log

.venv/

*.pyc
.vscode/
.idea/